{% extends 'base.html.twig' %}

{% block title %}Hello ProStagesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Bienvenue sur la page d'accueil de {{ controller_name }} </h1>
    <table border="2px black">
    {% for stage in stages %}
      <tr>
        <td>{{stage.intitule}}</td>
        <td>{{stage.mission}}</td>
        <td>{{stage.adresse}}</td>
        <td>{{stage.entreprise}}</td>
        <td>{{stage.formation}}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}
